* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.header {
  display: flex;
  align-items: center;
  height: 75px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: white;
  padding: 20px;
}
.header-img {
  height: 185%;
  margin-right: 6px;
}
.header-text {
  font-size: 30px;
  margin-right: auto;
}
